/*-- scss:defaults --*/

// Code blocks
$code-block-border-left: #111111;
$code-block-border-left-style: solid;
$code-block-border-left-size: 5px;

$link-color: #2141ff;
$link-hover-color: #187ac1;

$sidebar-bg: #f9f9f9;